.DS_Store
/.build
/.derived-sources
/Packages
/*.xcodeproj
/node_modules
Package.resolved

utils/testRunner/main.sol
utils/testRunner/test.js
utils/testRunner/*.bin

utils/gasEstimator/main.sol
utils/gasEstimator/test.js
utils/gasEstimator/*.bin

bin/
contracts/
build/
