.DS_Store
/.build
/.derived-tests
/Packages
/*.xcodeproj
/node_modules

*.sol
!sol_emitter.sol
!sol_external.sol
*.swp

utils/testRunner/main.sol
utils/testRunner/test.js
utils/testRunner/*.bin
utils/testRunner/node_modules/*

utils/gasEstimator/main.sol
utils/gasEstimator/test.js
utils/gasEstimator/*.bin
utils/gasEstimator/node_modules/*

utils/repl/main.sol
utils/repl/contract.json
utils/repl/test.js
utils/repl/*.bin
utils/repl/node_modules/*
utils/repl/log.txt
utils/repl/result.txt
utils/repl/error.txt

utils/coverage/contract.json
utils/coverage/address.txt
utils/coverage/counts.json
utils/coverage/coverage.info
utils/coverage/html/*
utils/coverage/node_modules/*

utils/block/keystore/*
utils/block/geth/*
utils/block/go-ethereum/*

bin/
contracts/
build/

*.generated.swift
