.DS_Store
/.build
/.derived-tests
/Packages
/*.xcodeproj
/node_modules

*.sol
!sol_emitter.sol
!sol_external.sol
*.swp

utils/testRunner/main.sol
utils/testRunner/test.js
utils/testRunner/*.bin

utils/gasEstimator/main.sol
utils/gasEstimator/test.js
utils/gasEstimator/*.bin
utils/gasEstimator/node_modules/*

bin/
contracts/
build/

*.generated.swift
