[submodule "boogie"]
	path = boogie
	url = https://github.com/boogie-org/boogie
        ignore = untracked
[submodule "symbooglix"]
	path = symbooglix
	url = https://github.com/boogie-org/symbooglix
        ignore = untracked
