matrix:
  include:
  - os: linux
    language: generic
    sudo: required
    dist: trusty
    if: NOT tag IS present OR tag =~ ^*-linux$
    before_install:
    - sudo add-apt-repository -y ppa:ethereum/ethereum
    - sudo apt-get update
    - sudo apt-get -y install solc
    - npm install -g truffle
    install:
    - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
    script:
    - make test
  - os: osx
    language: objective-c
    osx_image: xcode9
    if: tag =~ ^*-macos$
    before_install:
    - brew update
    - brew upgrade
    - brew tap ethereum/ethereum
    - brew install solidity
    script:
    - make test

before_deploy:
- make release
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: O3apHiIXZRt/zR1hBiG9erSXBvg2MNYL5Rr/igsyjEChvWMt+YKrWFahrD1flLaF6xzEsoFCNqrR4h8ptkxvZfdG6L/CFNiloZqDCGkgW5O4eGjmPwUnzDr0uYm7J7VHRTgXUfpiMv8vJ2xGbBX0kOHsNF6tzt0GL/8S5mkFgSS4dQdojgXbEG7W5YNXXTHQBc1bBv/7oMiRtKQBqaIZ/eXxn1WKHnuisVUnkIQmtb/b+is8UAo6ooUqn7sef8+pmxjBwaYR55hevXrAdFHrviBdtSsdiifXb6Mx/GoVtLF6IIVD6d+4LgkNL58KNlHFg88fJfIEfiu5dkyDfsPRjAlNuvhtF10m430Y/vV8sb1WgchF8wwdRAdUdADMp284qrI8T0/1o6G5X24mWen6Engsl59MALsn6wa4u5UmtQrnTgX4AUzYtJ2aBvz1NyqNrXtOz/DHVcotL3k/JKqDf1mLXU4YRVYlGLHuKNriaUa6KZx9WY2N18M0QyWPScrCODKA4koBNClAmz0kVc3dsxqe153adWRCshz/WhG26gMmu8Iot8AVeqxO6ua/V+RzJgW9pmOHsZoFCfdXgxlYZ0ax8NdmmoOmMuAr/8Gi1WpkhkIyzTI95v+7t5YCc+UPBpR7p982aZFfKNQK2j4XbYgzvGaMH3oytjYCu39U5gA=
  file: flintc.zip
  on:
    repo: franklinsch/flint
    tags: true
